!.gitignore
node_modules/
client/css/barclet.css
client/css/style.css
client/css/styleEmbedded.css
client/css/backbone.barc.sample.css
.project
*.log
client/js/libs/barclet.js
client/js/libs/barcit.js
client/js/libs/embeddedBarc.js
client/js/libs/barclet.css
client/js/libs/backbone.barc.js
*.delete
client/cache/*
!client/cache/README
dist/cache/
*--*.js
*--*.css
.idea/workspace.xml
*.iws
client/app_js/lib/shared/config.js
dump/
